footer
   .container
    .row
     .col-lg-3
      .about.footer-item
       .logo
        a(href="#")
         img(src="/assets/images/logo.png" alt="Earthcorp Digital")
       a(href="#") connect@earthcorp.in
       ul
        li
         a(href="#")
          i.fa.fa-facebook
        li
         a(href="#")
          i.fa.fa-twitter
        li
         a(href="#")
          i.fa.fa-google-plus
        li
         a(href="#")
          i.fa.fa-instagram
     .col-lg-3
      .services.footer-item
       h4 Services
       ul
        li
         a(href="#") SEO Development
        li
         a(href="#") Business Growth
        li
         a(href="#") Social Media Management
        li
         a(href="#") Website Optimization
     .col-lg-3
      .community.footer-item
       h4 Community
       ul
        li
         a(href="#") Digital Marketing
        li
         a(href="#") Business Ideas
        li
         a(href="#") Website Checkup
        li
         a(href="#") Page Speed Test
     .col-lg-3
      .subscribe-newsletters.footer-item
       h4 Subscribe Newsletters
       p Get our latest news and ideas to your inbox
       form(action="https://earthcorp.us15.list-manage.com/subscribe/post?u=01274bdf3ec0e63c744a2f222&amp;id=a930057a27" method="post")
        input(type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" target="_blank" required="")
        button(type="submit" id="form-submit" class="main-button")
         i.fa.fa-paper-plane-o
     .col-lg-12
      .copyright
       p Copyright © #{new Date().getFullYear()} #[a(href="#") EARTHCORP] | All Rights Reserved.
       
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="/assets/js/owl-carousel.js")
script(src="/assets/js/animation.js")
script(src="/assets/js/imagesloaded.js")
script(src="/assets/js/custom.js")
script.
   $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });