extends layout

block layout-content
 include partials/header
 .main-banner#top
  .container
   .row
    .col-lg-12
     .row
      .col-lg-6.align-self-center
       .owl-carousel.owl-banner
        .item.header-text
         h6 Welcome to Earthcorp Digital
         h2 Build 
          em your website 
          | the best in 
          span SEO 
          | ?
         p This is a professional looking HTML Bootstrap 5 website template brought to you by Template website.
         .down-buttons
          .main-blue-button-hover
           a(href="#contact") Message Us Now
          .call-button
           a(href="#")
            i.fa.fa-phone
            | 080-900-00-782
        .item.header-text
         h6 Online Marketing
         h2 Get the 
          em best ideas 
          | for 
          span your website 
         p You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites. Contact us for more info. Thank you.
         .down-buttons
          .main-blue-button-hover
           a(href="#services") Our Services
          .call-button
           a(href="#")
            i.fa.fa-phone
            | 080-900-00-782
        .item.header-text
         h6 Video Tutorials
         h2 Watch 
          em our videos 
          | for your 
          span projects
         p Please 
          a(href="#" target="_blank" rel="nofollow") support us 
          | alittle via PayPal if this digital marketing HTML template is useful for you. Thank you.
         .down-buttons
          .main-blue-button-hover
           a(href="#services") Watch Videos
          .call-button
           a(href="#")
            i.fa.fa-phone
            | 080-900-00-782
 .our-services.section#services
  .services-right-dec
   img(src="/assets/images/services-right-dec.png" alt="")
  .container
   .services-left-dec
    img(src="/assets/images/services-left-dec.png" alt="")
   .row
    .col-lg-6.offset-lg-3
     .section-heading
      h2 We 
       em Provide 
       | The Best Service With 
       span Our Tools 
      span Our Services
   .row
    .col-lg-12
     .owl-carousel.owl-services
      .item
       h4 Learn More about our Guidelines
       .icon
        img(src="/assets/images/service-icon-01.png" alt="")
       p Feel free to use this template for your business
      .item
       h4 Develop The Best Strategy for Business
       .icon
        img(src="/assets/images/service-icon-02.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 UI / UX Design and Development
       .icon
        img(src="/assets/images/service-icon-03.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 Discover &amp; Explore our SEO Tips
       .icon
        img(src="/assets/images/service-icon-04.png" alt="")
       p Feel free to use this template for your business
      .item
       h4 Optimizing your websites for Speed
       .icon
        img(src="/assets/images/service-icon-01.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 See The Strategy In The Market
       .icon
        img(src="/assets/images/service-icon-02.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 Best Content Ideas for your pages
       .icon
        img(src="/assets/images/service-icon-03.png" alt="")
       p Feel free to use this template for your business
      .item
       h4 Optimizing Speed for your web pages
       .icon
        img(src="/assets/images/service-icon-04.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 Accessibility for mobile viewing
       .icon
        img(src="/assets/images/service-icon-01.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 Content Ideas for your next project
       .icon
        img(src="/assets/images/service-icon-02.png" alt="")
       p Feel free to use this template for your business
      .item
       h4 UI &amp; UX Design &amp; Development
       .icon
        img(src="/assets/images/service-icon-03.png" alt="")
       p Get to know more about the topic in details
      .item
       h4 Discover the digital marketing trend
       .icon
        img(src="/assets/images/service-icon-04.png" alt="")
       p Get to know more about the topic in details
 .about-us.section#about
  .container
   .row
    .col-lg-6.align-self-center
     .left-image
      img(src="/assets/images/about-left-image.png" alt="Two Girls working together")
    .col-lg-6
     .section-heading
      h2 Grow your website with our 
       em SEO Tools 
       | &amp; 
       span Project 
       | Management
      p You can browse free HTML templates on Too CSS website. Visit the website and explore latest website templates for your projects.
      .row
       .col-lg-4
        .fact-item
         .count-area-content
          .icon
           img(src="/assets/images/service-icon-01.png" alt="")
          .count-digit 320
          .count-title SEO Projects
          p Lorem ipsum dolor sitti amet, consectetur.
       .col-lg-4
        .fact-item
         .count-area-content
          .icon
           img(src="/assets/images/service-icon-02.png" alt="")
          .count-digit 640
          .count-title Websites
          p Lorem ipsum dolor sitti amet, consectetur.
       .col-lg-4
        .fact-item
         .count-area-content
          .icon
           img(src="/assets/images/service-icon-03.png" alt="")
          .count-digit 120
          .count-title Satisfied Clients
          p Lorem ipsum dolor sitti amet, consectetur.
 .our-portfolio.section#portfolio
  .portfolio-left-dec
   img(src="/assets/images/portfolio-left-dec.png" alt="")
  .container
   .row
    .col-lg-6.offset-lg-3
     .section-heading
      h2 Our Recent 
       em Projects 
       | &amp; Case Studies 
       span for Clients
      span Our Portfolio
  .container-fluid
   .row
    .col-lg-12
     .owl-carousel.owl-portfolio
      .item
       .thumb
        img(src="/assets/images/portfolio-01.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 First Project
          span Plot Listing
      .item
       .thumb
        img(src="/assets/images/portfolio-02.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Two
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-03.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Three
          span Space Dynamic SEO
      .item
       .thumb
        img(src="/assets/images/portfolio-04.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Four
          span Website Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-01.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Five
          span Digital Assets
      .item
       .thumb
        img(src="/assets/images/portfolio-02.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Six
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-03.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Seven
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-04.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Eight
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-01.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Nine
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-02.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Ten
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-03.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Eleven
          span SEO &amp; Marketing
      .item
       .thumb
        img(src="/assets/images/portfolio-04.jpg" alt="")
        .hover-effect
         .inner-content
          a(href="#" target="_parent")
           h4 Project Twelve
          span SEO &amp; Marketing
 .pricing-tables#pricing
  .tables-left-dec
   img(src="/assets/images/tables-left-dec.png" alt="")
  .tables-right-dec
   img(src="/assets/images/tables-right-dec.png" alt="")
  .container
   .row
    .col-lg-6.offset-lg-3
     .section-heading
      h2 Select a suitable 
       em plan 
       | for your next 
       span projects
      span Our Plans
   .row
    .col-lg-4
     .item.first-item
      h4 Starter Plan
      em &#8377; 15000/yr
      span &#8377; 11200
      ul
       li 10 Projects
       li 100 GB space
       li 20 SEO checkups
       li Basic Support
      .main-blue-button-hover
       a(href="#") Get Started
    .col-lg-4
     .item.second-item
      h4 Standard Plan
      em &#8377; 20000/yr
      span &#8377; 16000
      ul
       li 20 Projects
       li 200 GB space
       li 50 SEO checkups
       li Pro Support
      .main-blue-button-hover
       a(href="#") Get it Now
    .col-lg-4
     .item.third-item
      h4 Advanced Plan
      em &#8377; 30000/yr
      span &#8377; 22400
      ul
       li 30 Projects
       li 300 GB space
       li 100 SEO checkups
       li Best Support
      .main-blue-button-hover
       a(href="#") Buy Now
 .subscribe#subscribe
  .container
   .row
    .col-lg-12
     .inner-content
      .row
       .col-lg-10.offset-lg-1
        h2 Know Your Website SEO Score by Email
        form(action="", method="get" id="subscribe")
         input(type="text" name="website" id="website" placeholder="Your Website URL" required="")
         input(type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="")
         button(type="submit" id="form-submit" class="main-button") Subscribe
 .our-videos.section#video
  .videos-left-dec
   img(src="/assets/images/videos-left-dec.png" alt="")
  .videos-right-dec
   img(src="/assets/images/videos-right-dec.png" alt="")
  .container
   .row
    .col-lg-12
     .naccs
      .grid
       .row
        .col-lg-8
         ul.nacc
          li.active
           div
             .thumb
              iframe(src="https://www.youtube.com/embed/JynGuQx4a1Y" width="100%" height="auto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscape; picture-in-picture allowfullscreen")
              .overlay-effect
               a(href="#")
                h4 Project One
               span SEO &amp; Marketing
          li
           div
            .thumb
             iframe(src="https://www.youtube.com/embed/RdJBSFpcO4M" width="100%" height="auto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture allowfullscreen")
             .overlay-effect
              a(href="#")
               h4 Project Two
              span Advertising &amp; Marketing
          li
           div
            .thumb
             iframe(src="https://www.youtube.com/embed/ZlfAjbQiL78" width="100%" height="auto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture allowfullscreen")
             .overlay-effect
              a(href="#")
               h4 Project Three
              span Digital &amp; Marketing
          li
           div
            .thumb
             iframe(src="https://www.youtube.com/embed/mx1WseE7-0Y" width="100%" height="auto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture allowfullscreen")
             .overlay-effect
              a(href="#")
               h4 Project Four
              span SEO &amp; Advertising
        .col-lg-4
         .menu
          .active
           .thumb
            img(src="/assets/images/video-thumb-01.png" alt="")
            .inner-content
             h4 Project One
             span SEO &amp; Marketing
          div
           .thumb
            img(src="/assets/images/video-thumb-02.png" alt="")
            .inner-content
             h4 Project Two
             span Advertising &amp; Marketing
          div  
           .thumb
            img(src="/assets/images/video-thumb-03.png" alt="")
            .inner-content 
             h4 Project Three
             span Digital &amp; Marketing
          div
           .thumb
            img(src="/assets/images/video-thumb-04.png" alt="")
            .inner-content 
             h4 Project Four
             span SEO &amp; Advertising
 .contact-us.section#contact
  .container
   .row
    .col-lg-7
     .section-heading
      h2 Feel free to 
       em Contact 
       | us via the 
       span HTML form 
      #map
       iframe(src="https://maps.google.com/maps?q=Earthcorp,Faizabad+IN,+India&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" allowfullscreen="")
      .info
       span
        i.fa.fa-phone
        a(href="#") 080-900-00-782
         br
         | 0941-502-22-202
       span
        i.fa.fa-envelope
        a(href="mailto:connect@earthcorp.in") connect@earthcorp.in
         br
         | narendra.s@earthcorp.in
    .col-lg-5.align-self-center
     form(action="" method="get" id="contact")
      .row
       .col-lg-12
        fieldset
         input(type="name" name="name" id="name" placeholder="Name" autocomplete="on" required)
       .col-lg-12
        fieldset
         input(type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required)
       .col-lg-12
        fieldset
         input(type="text" name="email" id="mail" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="")
       .col.lg-12
        fieldset
         input(type="text" name="website" id="website" placeholder="Your Website URL" required="")
       .col-lg-12
        fieldset
         button(type="submit" id="form-submit" class="main-button") Submit Request
   .contact-dec
    img(src="/assets/images/contact-dec.png" alt="")
   .contact-left-dec
    img(src="/assets/images/contact-left-dec.png" alt="")
 .footer-dec
  img(src="/assets/images/footer-dec.png" alt="")
   
 include partials/footer